{% extends "layout.html" %}

{% block "content" %}


<form method="get">

    <div class="filters">

        <div>
            <label class="title">Assignees:</label>
            {{ form.assignees }}
            {{ form.assignees.error_list }}
        </div>
        <div>
            <label class="title">Repositories:</label>
            {{ form.repos }}
            {{ form.repos.error_list }}
        </div>
        <div class="row">
            <input type="submit" class="btn" value="Хайх"/>
        </div>

    </div>

</form>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Assignee</th>
            <th>Repository</th>
        </tr>
    </thead>
    <tbody>
        {% for issue in issues %}
        <tr>
            <td>{{ issue.issue_id }}</td>
            <td><a href="{% url "issue-detail" issue.repository.slug issue.issue_id %}">{{ issue.title }}</a></td>
            <td>{{ issue.priority }}</td>
            <td>{{ issue.state }}</td>
            <td>{{ issue.assignee }}</td>
            <td>{{ issue.repository.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
