{% extends "layout.html" %}

{% block "content" %}

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Slug</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Watching</th>
        </tr>
    </thead>
    <tbody>
        {% for repo in repos %}
        <tr>
            <td>{{ repo.id }}</td>
            <td><a href="{% url "repo-detail" repo.slug %}">{{ repo.name }}</a></td>
            <td>{{ repo.slug }}</td>
            <td>{{ repo.created_at | date:'Y-m-d H:i'}}</td>
            <td>{{ repo.updated_at | date:'Y-m-d H:i'}}</td>
            <td> {% if repo.is_watching %}yes{% endif %} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
