body {
    padding: 0;
    margin: 0;
}

body, input{
    font-family: "Fira Sans Extra Condensed";
    font-size: 1.4rem;
    font-weight: 100;
    color: #333;
}

input {
    padding: .4rem 1rem;
}

th, h1 {
    font-weight: 200;
}


table td, table th{
    padding: .4rem 1rem;
}

table.detail th{
    background-color: rgba(0,0,0,.15);
}

.form-error {
    color: red;
}


.wrapper {
    margin: 4rem auto;
    width: 1240px;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 7px 25px rgba(0,0,0,.35);
}

.menu a {
    padding: .4rem 1rem;
    text-transform: uppercase;
}

.main {
    padding: 30px;
}

a {
    text-decoration: none;
    font-weight: 200;
    color: #3F51B5;
    transition: box-shadow 0.1s ease
}
a:hover {
    box-shadow: inset 0 -1px #3F51B5;
}
